[run]
branch = True
data_file = .coverage
source=enterprise
omit =
    enterprise/settings/*
    enterprise/conf/*
    consent/settings/*
    consent/conf/*
    */mocks.py
    */urls.py
    */migrations/*
    */admin.py
    */static/*
    */templates/*
    */tests/*
    test_*
