*.py[cod]
__pycache__
.pytest_cache
pyvenv.cfg

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
node_modules/

# Installer logs
pip-log.txt

# Unit test / coverage reports
.cache/
.coverage
.coverage.*
.tox
coverage.xml
htmlcov/
pii_report/

# Translations
*.mo

# IDEs and text editors
*~
.projectile
*.swp
.idea/
.project
.pycharm_helpers/
.pydevproject
.vscode/

# The Silver Searcher
.agignore

# OS X artifacts
*.DS_Store

# Logging
log/
/logs/
chromedriver.log
ghostdriver.log
geckodriver.log

# Complexity
output/*.html
output/*/index.html

# Sphinx
docs/_build
docs/modules.rst
docs/enterprise.rst
docs/enterprise.*.rst

# Private requirements
requirements/private.in
requirements/private.txt

# tox environment temporary artifacts
tests/__init__.py

# Development task artifacts
default.db*

# Geckodriver for Jasmine
geckodriver/

# Static assets
enterprise/assets/
enterprise/static/enterprise/bundles/*.js

# Virtual environments
venv/

# TODO: When we move to be a service, ignore this too.
#enterprise/static/enterprise/bundles/
