# Config file for automatic testing at travis-ci.org

language: python

python:
  - 3.5
  - 3.8

env:
  - TOXENV=django22
  - TOXENV=quality
  - TOXENV=docs
  - TOXENV=pii-annotations

services:
    - xvfb

matrix:
  include:
    - python: 3.5
      env:
        - TOXENV=jasmine
      before_install:
        - wget https://github.com/mozilla/geckodriver/releases/download/v0.11.1/geckodriver-v0.11.1-linux64.tar.gz
        - mkdir geckodriver
        - tar -xzf geckodriver-v0.11.1-linux64.tar.gz -C geckodriver
        - export PATH=$PATH:$PWD/geckodriver
      before_script:
        - "export DISPLAY=:99.0"
      addons:
        firefox: "49.0.2"
    - python: 3.5
      env:
        - RUNJSHINT=true
cache:
  - directories:
    - node_modules

install:
  - pip install -r requirements/travis.txt
  - npm install

script:
  - if [[ -v RUNJSHINT ]]; then make jshint; else tox; fi

after_success:
  - codecov

# Set password via "travis encrypt --add deploy.password"; for details, see
# https://docs.travis-ci.com/user/deployment/pypi
deploy:
  provider: pypi
  user: edx
  distributions: sdist bdist_wheel
  on:
    tags: true
    condition: '$TOXENV = quality'
  password:
    secure: c6t+V23/OqDYwU/4wBQKWRKcvQtQCgbzjdfr/+nKHQdFB0TE0iroFbsa3KWfRMmdh/P1UyXuABuyA0TJt9vS6JMan8s7y6I4gfi/XsH14qP5rMGuYOfHyHi+fAaZHt3b69i+tS8xV1YvRplI3MB8pqnZGdJsV4Fi32I+/buW2wXrypmo3RMugHEVMG4Yu0MzzmTZ/7nifpW/U7TxOxo0mIoqYbDbUeHUzExI5UvL3tBqEzBaMr68wZjPAuJFw6m4zoQ66s9ZGihWYxD+DJfMpXuf5tQBSzrN1D3PG3UYvgP3FNipHwK2vC+Exg7xii6kzZYLGmSHnE1MXBW07wK7mGgu9wdLViUPyT7PqXMklwa6CzwMoNQzwU/xV667PKk/dcZDoNywSkcP55uelnhdP22FM3eig46V/SZxUbO4yeMlZUiaWATVwYsDra/dJyfiFR0WHd9DI37BWIBl/eBnjwxu4qQkKxMInZlZyG5fuZX+LP7S8pJE7kk9OkzIKlWR1rDnaMQnDu5XN60JlBKNfE3aflTPip2dTEVz8CmjVo+PFF1ukdxYc8qpvV7EcKDGnh1T+OBWYTCterdDxCf8HK+hJ9oZigUc0zliPSUvqt3KSN35cR3rxJQUwhOhducQECVuZ6Fs+AgR533/Ry5b63HlS1sBdCWOqNMhyAUBRvM=
