# Docker in this repo is only supported for running tests locally
# as an alternative to virtualenv natively - johnnagro 2022-02-11
version: "2.1"
services:
  test-shell:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: enterprise.test.app
    hostname: app.test.enterprise
    volumes:
      - .:/edx/app/edx-enterprise
      - ../src:/edx/src:cached

    networks:
      - devstack_default
    # Allows attachment to this container using 'docker attach <containerID>'.
    stdin_open: true
    tty: true
    environment:
      DJANGO_SETTINGS_MODULE: enterprise.settings.test

networks:
  devstack_default:
    external: true
