.consent-container {
  width: auto;
  max-width: 700px;
  min-width: 300px;
  margin: 0 auto;

  p {
    margin-bottom: 15px;
  }
}

.consent-input-container {
  border: 1px solid $gray-200;
  padding: 15px 20px;
  margin-bottom: 20px;
}

.agreement-text {
  overflow: hidden;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: $font-size-sm;
}

.consent-policy-dropdown-bar {
  text-align: left;
  border: none;
  width: 100%;
  height: 60px;
  font-weight: 600;
  display: block;
  background: $gray-100;

  &:focus,
  &:hover,
  &:active {
    font-weight: 600;
  }
}

.policy-dropdown-link {
  text-decoration: underline;
}

.dropdown-text {
  line-height: 60px;
  white-space: nowrap;
  padding-left: 2%;
  font-size: 18px;
}

.dropdown-icon-container {
  float: right;
  padding-right: 10%;
  padding-top: 10px;
}

#consent-policy-dropdown-icon-surround {
  font-size: 40px;
  color: $white;
}

#consent-policy-dropdown-icon {
  font-size: 18px;
  color: $primary;
  padding-top: 12%;
  padding-left: 5%;
}

.consent-policy {
  padding-top: 2%;
  padding-left: 3%;
  padding-right: 3%;
}

.data-consent-checkbox {
  float: left;
  margin-top: 4px;
  margin-right: 10px;
  font-size: $font-size-sm;
}

/* Enterprise */

.caption {
  margin-bottom: 15px;
  font-size: 1.1em;
}

.enterprise-container {
  .consent-input-container {
    #data-sharing {
      margin: 0;
    }

    input {
      position: relative;
      top: 2px
    }
  }

  ul.consent-items {
    margin-left: 25px;

    li {
      margin-bottom: 4px;
    }
  }
}
