.select-enterprise-container {
  width: auto;
  max-width: 600px;
  min-width: 300px;
  margin: 0 auto;

  p {
    margin-bottom: 15px;
  }

  .select-enterprise-title {
    font-size: 20px !important;
    color: $blue !important;
    font-weight: normal;
    margin-bottom: 10px;
  }

  label {
    margin-right: 10px;
  }

  .select-enterprise.errorlist {
    display: list-item;
    color: $danger-500;
    margin-left: 40px;
    margin-bottom: 20px;
  }

  .is-hidden {
    display: none !important;
  }
}
