.program-confirmation-title {
    font-size: 1.6em;
    color: #2489c2;
    font-weight: normal;
    margin-bottom: 6px;
}

.program-detail .program-title {
    font-size: 1.5em;
    font-weight: bold;
}

.program-detail .program-org,
.program-metadata-header-text {
    font-size: 1.2em;
    font-weight: 600;
}

.program-detail .program-overview {
    font-size: 16px;
    margin: 0.5em 0;
}

.program-bullet-points {
    list-style: none;
    margin: 1em 0;
}

.program-bullet-points .bullet-item {
    font-size: 16px;
    margin-left: 20px;
}

.program-bullet-points .bullet-item a {
    font-size: 16px;
}

.program-bullet-points li:before {
    content: '•';
}

.program-price,
.program-price * {
    font-size: 16px;
    margin: 0;
}

.final-price {
    color: #3c763d;
}

.program-metadata-item ~ .program-metadata-item {
    margin-top: 20px;
}

.program-metadata-header {
    margin: 10px 0;
    padding: 5px 0;
    border-bottom: 2px solid #cccccc;
}

.endorsement-container ~ .endorsement-container {
    padding-top: 10px;
}

.endorsement-image {
    height: 80px;
    width: auto;
    display: block;
    margin: 10px 0;
}

.individual-endorsement-quote {
    margin: 10px 0;
    font-size: 16px;
    font-weight: 300;
}

.endorser {
    width: 100%;
    margin: 10px 0;
}

.endorser-description-container {
    padding-left: 50px;
}

.endorser-description {
    font-weight: 600;
    font-size: 16px;
}

.expand-list-link-container * {
    font-size: 16px;
    color: #2489c2;
}

.expand-list-link-container *:hover {
    color: #0b5c8a;
}

.program-summary-container {
    margin-top: 20px;
    margin-left: -10px;
}

.program-summary-header {
    padding: 10px 0;
}

.program-summary-header strong {
    font-size: 1.2em;
    padding-left: 3px;
}

table.program-summary {
    border: 1px solid #cccccc;
    border-radius: 5px;
    table-layout: fixed;
    width: 100%;
}

table.program-summary tr td {
    text-align: left;
    vertical-align: top;
    padding: 15px 0;
}

table.program-summary td.summary-item {
    font-size: 16px;
    font-weight: 600;
    padding-left: 15px;
    width: 20%;
}

.summary-content,
.summary-content * {
    font-size: 16px;
}

.course-item ~ .course-item {
    padding-top: 10px;
}

table.program-summary tr.row-separator td {
    padding: 0 10px;
}

.row-separator .table-row-separator {
    width: 100%;
    border: 1px solid rgba(204, 204, 204, .50);
}
