.course-confirmation-title {
    font-size: 20px;
    color: #126F9A;
    font-weight: normal;
    margin-bottom: 6px;
}

.course-image {
    width: auto;
    height: 50px;
}

.course-detail {
    font-size: 14px;
    margin-bottom: 10px;
}

.course-detail .course-org {
    font-size: 18px;
}

.course-info,
.course-info span {
    font-size: 1em;
}

.course-info .fa,
.course-info span {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.caption {
    margin-bottom: 15px;
    font-size: 16px;
}
