.course-image {
  width: auto;
  height: 50px;
}

.course-detail {
  font-size: $font-size-sm;
  margin-bottom: 10px;

  .course-org {
    font-size: 18px;
  }
}

.course-info {
  .fa,
  span {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
  }
}

.course-in-future {
  margin-bottom: $margin-xl;
}

.caption {
  margin-bottom: $margin-md;
}

.media {
  margin-bottom: $margin-xl;

  .media-content .course-info {
    font-size: $font-size-sm;
    margin: 8px 0;

    .fa,
    span {
      display: inline-block;
      vertical-align: middle;
      margin-right: 5px;
    }

    .fa {
      font-size: 16px;
    }
  }
}
