.select-enterprise-container {
  width: auto;
  max-width: 600px;
  min-width: 300px;
  margin: 0 auto;

  p {
    margin-bottom: $margin-md;
  }


  .select-enterprise.errorlist {
    display: list-item;
    color: $danger-500;
    margin-left: $margin-xl;
    margin-bottom: $margin-lg;
  }

  .is-hidden {
    display: none !important;
  }
}
