.enterprise-login-container {
  width: auto;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;

  p {
    margin-bottom: $margin-md;
  }

  label {
    margin-right: $margin-sm;
  }

  .enterprise-login.errorlist {
    display: list-item;
    color: $danger-500;
    margin-left: $margin-xl;
    margin-bottom: $margin-lg;
  }

  .is-hidden {
    display: none !important;
  }

  form#enterprise-login-form input {
    display: block;
    height: 32px;
    width: 100%;
    margin: 0 0 $margin-md;
    padding: 0px 10px;
  }
}
