name: CI

on:
  push:
    branches: [master]
  pull_request:

concurrency:
  group: ci-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  run_tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version:
        - '3.11'
        toxenv: [quality, docs, django42-celery53, pii_check]
    env:
      RUNJSHINT: true
    steps:
    - uses: actions/checkout@v2
    - name: Setup Nodejs Env
      run: echo "NODE_VER=`cat .nvmrc`" >> $GITHUB_ENV
    - uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
        architecture: x64
    - uses: actions/setup-node@v2
      with:
        node-version: ${{ env.NODE_VER }}
    - run: pip install -r requirements/ci.txt
    - name: Run tox
      env:
        TOXENV: ${{ matrix.toxenv }}
      run: tox
    - name: Run code coverage
      if: matrix.python-version == '3.11' && matrix.toxenv == 'django42-celery53'
      uses: codecov/codecov-action@v4
      with:
        flags: unittests
        fail_ci_if_error: true
        token: ${{ secrets.CODECOV_TOKEN }}
    - name: Run jshint
      if: matrix.toxenv=='django42-celery53'     # Only run this once as part of tests
      run: |
        npm ci
        make jshint
